@import "tailwindcss";

@theme {
  --color-darker: #080808;
  --color-dark: #141414;
  --color-element: #1a1a1a;
  --color-grey: #2a2a2a;
  --color-light: #666363;
  --color-primary: #5daff9;
  --color-accent: #78fbde;
  --ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-spring: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --ease-smooth: cubic-bezier(0.22, 0.61, 0.36, 1);
  --ease-gentle: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] */
.TextField {
  @apply h-9 px-3 text-white placeholder:text-white/30 text-sm font-normal bg-dark outline-2 focus:-outline-offset-1 outline-offset-1 outline-transparent focus:outline-primary/60 backdrop-blur-3xl rounded-lg ease-gentle duration-400;
}

.Button {
  @apply relative flex gap-1.5 items-center justify-center h-9 *:relative overflow-hidden rounded-lg bg-element px-3 text-sm font-medium text-white outline-2 outline-offset-1 outline-transparent backdrop-blur-3xl duration-500 ease-gentle hover:-outline-offset-1 hover:outline-primary/60
  before:absolute before:inset-0 before:scale-50 active:before:scale-200 active:before:duration-100 before:rounded-lg before:bg-gradient-to-r before:from-primary/6 before:via-primary/48 before:to-primary/6 before:opacity-0 before:blur-xl before:duration-500 before:ease-gentle hover:before:scale-100 hover:before:opacity-100;
}

.hr {
  @apply rounded-full h-[2px] w-2/5 mx-auto bg-white/20 mix-blend-difference;
}

.NavButton {
  @apply aspect-square relative overflow-hidden grid place-items-center rounded-lg bg-element outline-2 outline-transparent hover:outline-primary outline-offset-1 hover:-outline-offset-1 ease-gentle duration-300
  before:absolute before:inset-0 before:scale-50 active:before:scale-200 active:before:duration-100 before:rounded-lg before:bg-gradient-to-r before:from-primary/6 before:via-primary/48 before:to-primary/6 before:opacity-0 before:blur-xl before:duration-500 before:ease-gentle hover:before:scale-100 hover:before:opacity-100;
}

.AnimatedGlow {
  @apply relative overflow-hidden
  before:absolute before:inset-0 before:scale-50 active:before:scale-200 active:before:duration-100 before:rounded-lg before:bg-gradient-to-r before:from-primary/6 before:via-primary/48 before:to-primary/6 before:opacity-0 before:blur-xl before:duration-500 before:ease-gentle hover:before:scale-100 hover:before:opacity-100;
}
.AnimatedBorder {
  @apply outline-2 outline-transparent outline-offset-1 hover:-outline-offset-1 hover:outline-primary ease-gentle duration-300;
}

@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("/Font.ttf") format("truetype");
}

* {
  user-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf");
  font-weight: 900;
}
