@import "tailwindcss";

@theme {
  --color-darker: #080808;
  --color-dark: #141414;
  --color-element: #1c1c1c;
  --color-grey: #262525;
  --color-light: #666363;
  --color-primary: #5daff9;
  --color-accent: #78fbde;
}

/* input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] */
.TextField {
  @apply h-9 px-3 font-medium text-white/50 text-sm bg-element outline-1 focus:-outline-offset-1 outline-offset-1 outline-transparent focus:outline-primary/60 backdrop-blur-3xl rounded-md ease-in-out duration-400;
}

.Button {
  @apply relative h-9 *:relative overflow-hidden rounded-md bg-element px-3 text-sm font-medium text-white outline-1 outline-offset-1 outline-transparent backdrop-blur-3xl duration-500 ease-in-out hover:-outline-offset-1 hover:outline-primary/60
  before:absolute before:inset-0 before:scale-50 active:before:scale-200 active:before:duration-100 before:rounded-md before:bg-gradient-to-r before:from-primary/6 before:via-primary/48 before:to-primary/6 before:opacity-0 before:blur-xl before:duration-500 before:ease-in-out hover:before:scale-100 hover:before:opacity-100;
}

.hr {
  @apply rounded-full h-[2px] w-full bg-white/30 mix-blend-difference;
}

h1 {
  @apply text-5xl font-extrabold text-white;
}
h2 {
  @apply text-2xl font-semibold text-white;
}
h4 {
  @apply text-base font-light text-white;
}
@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("/Font.ttf") format("truetype");
}

* {
  user-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf");
  font-weight: 900;
}
